:root {
    --track-light: rgb(27, 85, 200);
    --track-dark: rgb(100, 133, 200);
    /* --text-standard: rgb(140, 189, 6); */
    --text-standard: rgb(180, 180, 180);
    --text-dim: #30303050;
    /* --text-dim:rgb(1, 47, 75); */
    --text-medium: rgb(81, 110, 3);
}

body {
    background-color: black;
    color: var(--text-standard);
}

input {
    background-color:#ffffff33;
    color: inherit;
    border: none;
    border: 1px solid inherit;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0 20px;
    text-align: center;
}

/* These css elements style the drum loop list template ----------*/

.beats-header {
    color: greenyellow;
    text-shadow: 0 0 5px pink;
    text-transform: uppercase;
    font-weight: bolder;
}

.drumloop-table {
    margin: auto;
    padding: 10px;
    text-align: center;
    border-collapse: separate;
    border-spacing: 0.2rem 0.5rem;
    border: 3px solid transparent;
    /* outline: 3px solid black; */
    border-radius: 10px;
    background-image: radial-gradient(#aaaaaaff, #aaaaaacc);
    box-shadow: 0 0 5px black;
}

.drumloop-table thead {
    color: greenyellow;
    text-shadow: 2px 2px 5px purple;
}


.drumloop-table-row:hover .drumloop-table-item{
    background-image: radial-gradient(black, var(--text-medium));
}

.drumloop-table-item {
    color: black;
    font-size: 1.2rem;
    padding: 5px 15px;
    /* background-image: radial-gradient( black, var(--text-dim)); */
    transition: 1s all;
}

.rating-star {
    font-size: 1.2rem;
    color: orange;
    text-shadow: 0 0 5px lightblue;
}

.play-button {
    font-size: 3rem;
    color: greenyellow;
    text-shadow: 0 0 5px pink;
}

.drum-image {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    opacity: 0.4;
}

/* These css elements style the drumloop_editor template ---------*/

#drumloop_name {
    width: 300px;
    height: 70px;
    font-size: 1.2rem;
}

#tempo {
    font-size: 1.2rem;
}

.track-holder {
    background-color: #333333aa;
    padding: 0 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.track {
    display: inline-block;
}

.track-volume {
    display: inline-block;
    color: white;
    background: yellow;
    border: 1px solid red;
    width: 100%;
}

.beat {
    display: inline-block;
    width: 15px;
    height: 40px;
    background-color: gray;
    color: red;
    border: 1px solid rgb(116, 221, 125);
}

.beat:nth-child(4n - 3) {
    display: inline-block;
    margin-left: 3px;
    width: 15px;
    background-color: gray;
    color: red;
    border: 1px solid rgb(116, 221, 125);
    height: 45px;
}

.current {
    border: 2px solid white;
}

.active_beat {
    background: radial-gradient(rgb(140, 189, 6),rgb(68, 92, 3));
}

.beats-field {
    user-select: none;
}

.beat-volumes-field {
    user-select: none;
    display: none;
}

.hidden {
    display: none;
}

.beats-holder, .instrument-name, .track-volume {
    display: inline-block;
}

.instrument-name {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}