:root {
    --track-light: rgb(27, 85, 200);
    --track-dark: rgb(100, 133, 200);
}

body {
    background-image: url('/static/images/cravi1.jpg');
    background-position: center;
    background-size: cover;
    background-color: black;
    color: rgb(140, 189, 6);
}

input {
    background-color:#ffffff33;
    color: inherit;
    border: none;
    border: 1px solid inherit;
    border-radius: 4px;
    padding: 4px 8px;
    margin: 0 20px;
    text-align: center;
}

#drumloop_name {
    width: 400px;
    height: 100px;
    font-size: 2rem;
}

#tempo {
    font-size: 1.3rem;
}

.track-holder {
    background-color: #333333aa;
    padding: 0 20px;
    border: 1px solid gray;
    border-radius: 5px;
}

.track {
    display: inline-block;
}

.track-volume {
    display: inline-block;
    color: white;
    background: yellow;
    border: 1px solid red;
    width: 100%;
}

.beat {
    display: inline-block;
    width: 20px;
    height: 50px;
    background-color: gray;
    color: red;
    border: 1px solid rgb(116, 221, 125);
}

.beat:nth-child(4n - 3) {
    display: inline-block;
    margin-left: 3px;
    width: 20px;
    background-color: gray;
    color: red;
    border: 1px solid rgb(116, 221, 125);
    height: 52px;
}

.current {
    border: 2px solid white;
}

.active_beat {
    background: radial-gradient(rgb(140, 189, 6),rgb(68, 92, 3));
}

.beats-field {
    user-select: none;
}

.beat-volumes-field {
    user-select: none;
    display: none;
}

.hidden {
    display: none;
}

.beats-holder, .instrument-name, .track-volume {
    display: inline-block;
}