{% load static %}

<!DOCTYPE html>
<html lang="en">

<!--Head section containing style, bootstrap and font links common to all pages-->
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
    <title>Just Beats</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">
    <style>
        @font-face {
            font-family: 'chinese_rocks';
            src: local('chinese_rocks'),
            url('{% static "fonts/chinese_rocks.otf" %}');
        }

        @font-face {
            font-family: 'outrun';
            src: local('outrun'),
            url('{% static "fonts/outrun.otf" %}');
        }

        @font-face {
            font-family: 'sugar_death2';
            src: local('sugar_death2'),
            url('{% static "fonts/sugar_death2.ttf" %}');
        }

        @font-face {
            font-family: 'wallpoet';
            src: local('wallpoet.ttf'),
            url('{% static "fonts/wallpoet.ttf" %}');
        }
    </style>
</head>

<!--Common body elements across all pages, including a background image and a navbar-->
<body style="
    background-image: url('{% static "images/graffiti_3.jpg" %}'); background-repeat: no-repeat;
    background-position:center; background-size: cover; ">
    <header>
        <nav class=" navbar navbar-expand-lg navbar-dark bg-dark bg-gradient bg-opacity-75 p-3">
            <div class="container-fluid text-white">
                <a class="navbar-brand " href="/"><span class="fw-bold">
                        <h3 class="text-white site-logo">JUST BEATS</h3>
                    </span></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        {% if user.is_authenticated %}
                        <li class="nav-item align-self-center me-5 fst-italic">
                            Logged in as <span id="logged-in-user" class="fw-bold">{{ user.username }}</span>
                        </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
                        </li>
                        {% if user.is_authenticated %}
                        <li id="logout-link" class="nav-item">
                            <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                        </li>
                        {% else %}
                        <li class="nav-item">
                            <a id="register-link" class="nav-link" href="{% url 'account_signup' %}">Register</a>
                        </li>
                        <li class="nav-item">
                            <a id="login-link" class="nav-link" href="{% url 'account_login' %}">Login</a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!--A holder for messages, both those passed by Django to the page and also 
        those created in JavaScript to mimic the Django messaging-->
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2" id="message-holder">
                {% for message in messages %}
                <div class="alert {{ message.tags }} alert-dismissible fade show"
                    id="msg" role="alert">
                {{ message | safe }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--The specific content of each child page goes here-->
    <main>
        {% block content %}
        {% endblock content %}
    </main>

    <!--Simple footer with a copyright message-->
    <footer class="fixed-bottom bg-dark bg-gradient bg-opacity-75 text-center text-lg-start p-3">
        <div>
            &copy John Rearden 2022
        </div>
    </footer>

    <!--A script to remove displayed messages after a short delay-->
    <script>
        setTimeout(function() {
            let messages = document.getElementById('msg');
            if (messages) {
                let alert = new bootstrap.Alert(messages);
                alert.close();
            }
            
        }, 3000);
    </script>

    <script src="https://kit.fontawesome.com/f2f8e80db6.js" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.6.1.min.js"
        integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>