{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container">

    <!--This row displays the loop name and its creator-->
    <div class="row text-center mb-5">
        <div class="col-md-6 offset-md-3">
            <h1 class="d-inline-block p-2">{{ loop.name }}</h1>
            <div class="d-inline-block"> by </div>
            <h3 class="d-inline-block p-2">{{ loop.creator }}</h3>
        </div>
    </div>

    <!--This row displays the beats of each track in read-only form-->
    <div class="row">
        <div class="col-md-5 darker-background light-border p-3">
            {% for track in tracks %}
            <div class="row text-center">
                <div class="col-4 text-center align-self-center">
                    {{ track.instrument.name }}
                </div>
                <div class="col-auto">
                    <div id="beats-holder-track_{{ forloop.counter0 }}" class="beats-holder p-1">
                        {% for char in track.beats %}
                        {% if char == '8' %}
                        <div id="{{ track.id }}:{{ forloop.counter0 }}" class="readonly-beat readonly-active-beat"
                            onclick="onBeatClick(event)">
                        </div>
                        {% else %}
                        <div id="{{ track.id }}:{{ forloop.counter0 }}" class="readonly-beat"
                            onclick="onBeatClick(event)">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="col-md-2 justify-content-center text-center align-contents-center p-5">
            <!--A button to play/pause the audio-->
            <button class="large-play-button mb-3">
                <i class="fa-solid fa-play"></i>
            </button>
            <!--A number input to control the volume-->
            <label for="loop-detail-volume">Volume</label>
            <input type="number" id="loop-detail-volume" min="0" max="10" value="5">
        </div>
        <div class="col-md-5">
            <!--Container for list of previous reviews-->
            <div class="container-fluid darker-background light-border p-3">
                <div class="row">
                    <div class="col text-center">
                        <h4 class="mb-3">What other people think ..</h4>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-7">
                        <h6>Comment</h6>
                    </div>
                    <div class="col-3 text-center">
                        <h6>Stars</h6>
                    </div>
                    <div class="col-2 text-center">
                        <h6>By</h6>
                    </div>
                </div>
                {% for review in reviews %}
                <div class="row ">
                    {% if review.approved %}
                    <div class="col-7">
                        <span class="existing-comment">"{{ review.comment }}"</span>
                    </div>
                    {% else %}
                    <div class="col-7">
                        <span>(awaiting approval)</span>
                    </div>
                    {% endif %}
                    <div class="col-3 text-center">
                        <span class="existing-rating">{{ review.rating }}</span>
                    </div>
                    <div class="col-2 text-center">
                        <span class="existing-reviewer">{{ review.reviewer.username }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--This row displays a link and a button that copies it to the clipboard-->
    <div class="row m-5 text-center">
        <div class="col-auto offset-md-3 text-center py-2 px-5 darker-background">
            <h3 id="share-loop-title">Share this loop with your friends!</h3>
            <span id="pasteable-link"></span>
            <button class="copy-icon"><i class="fa-regular fa-copy"></i></button>
        </div>
    </div>

    <!--Todo move to LoopDetail.js-->
    <script>
        const link = document.getElementById('pasteable-link');
        link.textContent = window.location;
    </script>
</div>

{% endblock %}