{% extends "base.html" %}

{% load static %}

{% block content %}


<div class="container">
    <form id='loop-editor-form' action="" method="POST">
        {% csrf_token %}
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-6 p-4 mt-3 text-center">
                    <label for="drumloop_name">Loop Name</label>
                    <input type="text" id="drumloop_name" value="{{ loop.name }}" name="drumloop_name">
                </div>
                <div class="col-md-6 text-center">
                    <label for="creator_name">Creator</label>
                    <input type="text" id="creator_name" readonly value="{{ loop.creator }}" name="creator_name">
                </div>
                <div class="row text-center align-items-center">
                    <div class="col-5 offset-1">
                        <label for="tempo">Tempo</label>
                        <input type="number" id="tempo" name="tempo" value="{{ loop.tempo }}" min="60" max="200"
                            step="1">
                    </div>
                    <div class="col-5">
                        <label for="allow_copy">Allow Copy?</label>
                        <input type="checkbox" id="allow_copy" name="allow_copy" checked="{{ loop.allow_copy }}"
                            value="allowed">
                    </div>
                    <input type="text" class="hidden" id="keep-editing" name="keep_editing" value="no">
                    <input type="text" class="hidden" id="drumloop-id" name="drumloop_id" value="{{ loop.id }}">
                </div>

                <div class="track-holder text-center mt-4">
                    <hr>
                    {% for track in tracks %}
                    <div class="row align-items-center">

                        <!-- Hidden fields : Their values are read by the script and used to set up the 
                     WebAudio audioContext. The user is not able to modify them directly. The
                     beats-field value is the single source of truth for the pattern of beats that the user
                     selects. It is loaded from the database, edited indirectly by clicking on the beatDivs
                     below, read by the sequencer to play the loop and returned to the backend with the 
                     form's POST request.-->
                        <input type="text" class="beats-field hidden" id="beats_{{ track.id }}"
                            name="beats_{{ track.id }}" value="{{ track.beats }}" readonly>
                        <input type="text" class="beat-volumes-field hidden" id="beat_volumes_{{ track.id }}"
                            name="beat_volumes_{{ track.id}}" value="{{ track.beat_volumes }}" readonly>
                        <input type="text" id="tracks" class="hidden" name="tracks" value="{{ track.id }}">
                        <input type="text" id="instrument-id-for-track_{{ track.id }}" class="instrument-id hidden"
                            name="instrument_id" value="{{ track.instrument.id }}">
                        <div class="instrument-url hidden">{{ track.instrument.url }}</div>

                        <!-- Visible fields : These can be edited directly by the user.-->
                        <div class="col-6 col-md-2" vertical-align>
                            <div class="instrument-name"
                                onclick="onInstrumentButtonClicked('{{ loop.id }}','{{ track.id }}')">
                                {{ track.instrument.name }}
                            </div>
                        </div>

                        <div class="col-6 col-md-2">
                            <label for="track_volume_{{ track.id }}">Vol</label>
                            <input type="range" id="track_volume_{{ track.id }}" name="track_volume_{{ track.id }}"
                                value="{{ track.track_volume }}" min="0" max="10" class="track-volume" list="tickmarks">
                            <datalist id="tickmarks">
                                <option value="0" label="0"></option>
                                <option value="2"></option>
                                <option value="4"></option>
                                <option value="6"></option>
                                <option value="8"></option>
                                <option value="10" label="10"></option>
                            </datalist>
                        </div>

                        <div class="col-12 col-md-8">
                            <div id="track_{{ forloop.counter0 }}" class="beats-holder"></div>
                        </div>
                    </div>
                    <hr>
                    {% endfor %}
                </div>
                <div class="row"></div>
                <div class="col text-center p-3">
                    <input type="submit">
                </div>

            </div>
        </div>
    </form>
    <div class="col text-center p-3">
        <button id="play-loop" class="btn btn-success">PLAY</button>
    </div>
    <div class="col text-center p-3">
        <button id="add-new-track" class="btn btn-warning">ADD NEW TRACK</button>
    </div>
</div>

<!-- Instrument selection modal -->
<div class="modal fade" id="instrument-chooser" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">Choose Instrument</h5>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <span id="modal-current-instrumentID" class="hidden"></span>
            </div>
            <div class="modal-body">
                <div class="container">
                    <div class="row">
                        {% for instrument in instruments %}

                        <div class="col-md-6 text-center">
                            <span id="modal-instrument-id_{{ instrument.id }}" class="instrument-spans"
                                onclick="onModalInstrumentClicked(event, '{{ instrument.url }}')">
                                {{ instrument.name }}
                            </span>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" onclick="onModalSaveChangesClicked()">
                    Save changes
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    /*
        This JavaScript snippet maps the audio file URLs stored in the database
        to the URLs on Cloudinary, which hash the filenames so that browser caches
        are invalidated where necessary. Must be inline to avail of templating.
    */
    const drumURLs = {
        "audio/kick_swooshy.wav": "{% static 'audio/kick_swooshy.wav'|escapejs %}",
        "audio/perc_wobble.wav": "{% static 'audio/perc_wobble.wav'|escapejs %}",
        "audio/snare_breathe.wav": "{% static 'audio/snare_breathe.wav'|escapejs %}",
        "audio/hats_micro.wav": "{% static 'audio/hats_micro.wav'|escapejs %}",
        "audio/kick_hard.wav": "{% static 'audio/kick_hard.wav'|escapejs %}",
        "audio/clap_liquid.wav": "{% static 'audio/clap_liquid.wav'|escapejs %}",
        "audio/clap_vinyl.wav": "{% static 'audio/clap_vinyl.wav'|escapejs %}",
        "audio/hats_massamola.wav": "{% static 'audio/hats_massamola.wav'|escapejs %}",
        "audio/hats_metal.wav": "{% static 'audio/hats_metal.wav'|escapejs %}",
        "audio/hats_zippo.wav": "{% static 'audio/hats_zippo.wav'|escapejs %}",
        "audio/hihat_808.wav": "{% static 'audio/hihat_808.wav'|escapejs %}",
        "audio/kick_borefest.wav": "{% static 'audio/kick_borefest.wav'|escapejs %}",
        "audio/kick_coffee_shop.wav": "{% static 'audio/kick_coffee_shop.wav'|escapejs %}",
        "audio/kick_juicy.wav": "{% static 'audio/kick_juicy.wav'|escapejs %}",
        "audio/kick_stomp.wav": "{% static 'audio/kick_stomp.wav'|escapejs %}",
        "audio/kick_tape.wav": "{% static 'audio/kick_tape.wav'|escapejs %}",
        "audio/kick_tight.wav": "{% static 'audio/kick_tight.wav'|escapejs %}",
        "audio/perc_808.wav": "{% static 'audio/perc_808.wav'|escapejs %}",
        "audio/perc_hollow.wav": "{% static 'audio/perc_hollow.wav'|escapejs %}",
        "audio/perc_laser.wav": "{% static 'audio/perc_laser.wav'|escapejs %}",
        "audio/perc_nasty.wav": "{% static 'audio/perc_nasty.wav'|escapejs %}",
        "audio/perc_skipper.wav": "{% static 'audio/perc_skipper.wav'|escapejs %}",
        "audio/perc_springboard.wav": "{% static 'audio/perc_springboard.wav'|escapejs %}",
        "audio/perc_tambo.wav": "{% static 'audio/perc_tambo.wav'|escapejs %}",
        "audio/perc_weirdo.wav": "{% static 'audio/perc_weirdo.wav'|escapejs %}",
        "audio/snare_electro.wav": "{% static 'audio/snare_electro.wav'|escapejs %}",
        "audio/snare_lastbar.wav": "{% static 'audio/snare_lastbar.wav'|escapejs %}",
        "audio/snare_lofi.wav": "{% static 'audio/snare_lofi.wav'|escapejs %}",
        "audio/snare_tight.wav": "{% static 'audio/snare_tight.wav'|escapejs %}",
        "audio/tom_acoustic.wav": "{% static 'audio/tom_acoustic.wav'|escapejs %}",
        "audio/tom_short.wav": "{% static 'audio/tom_short.wav'|escapejs %}",
    }

</script>

<script src="{% static 'js/LoopPlayer.js' %}" type="text/javascript"></script>
<script src="{% static 'js/LoopEditor.js' %}" type="text/javascript"></script>

{% endblock %}