{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container-fluid">

    <!--This row displays the loop name and its creator-->
    <div class="row text-center mb-md-5">
        <div class="col-md-6 offset-md-3">
            <h1 class="d-inline-block p-2">{{ loop.name }}</h1>
            <div class="d-inline-block"> by </div>
            <h3 class="d-inline-block p-2">{{ loop.creator }}</h3>
        </div>
    </div>

    <!--This row displays the beats of each track in read-only form-->
    <div class="row">
        <div class="col-12 col-md-5 darker-background light-border p-3">
            {% for track in tracks %}
            <div class="row text-center">
                <div class="col-12 col-md-4 text-center align-self-center">
                    {{ track.instrument.name }}
                </div>
                <div class="col-12 col-md-auto">
                    <div id="beats-holder-track_{{ forloop.counter0 }}" class="beats-holder p-1">
                        {% for char in track.beats %}
                        {% if char == '8' %}
                        <div id="{{ track.id }}:{{ forloop.counter0 }}" class="readonly-beat readonly-active-beat"
                            onclick="onBeatClick(event)">
                        </div>
                        {% else %}
                        <div id="{{ track.id }}:{{ forloop.counter0 }}" class="readonly-beat"
                            onclick="onBeatClick(event)">
                        </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-2 offset-md-0 justify-content-center text-center align-contents-center p-5">
            <!--A button to play/pause the audio-->
            <button id="detail-play-button" class="large-play-button mb-3" data-id="{{ loop.id }}"
                data-tempo="{{ loop.tempo }}">
                <i class="fa-solid fa-play play-button-icon"></i>
                <i class="fa-solid fa-pause pause-button-icon d-none"></i>
            </button>
            <div>
                <!--A number input to control the volume-->
                <label for="loop-detail-volume">Volume</label>
                <input type="number" id="loop-detail-volume" min="0" max="10" value="5">
            </div>

        </div>

        <div class="col-12 col-md-5">
            <!--Container for list of previous reviews-->
            <div class="container-fluid darker-background light-border p-3">
                <div class="row">
                    <div class="col text-center">
                        <h4 class="mb-3">What other people think ..</h4>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-7">
                        <h6>Comment</h6>
                    </div>
                    <div class="col-3 text-center">
                        <h6>Stars</h6>
                    </div>
                    <div class="col-2 text-center">
                        <h6>By</h6>
                    </div>
                </div>
                {% for review in reviews %}
                <div class="row ">
                    {% if review.approved %}
                    <div class="col-7">
                        <span class="existing-comment">"{{ review.comment }}"</span>
                    </div>
                    {% else %}
                    <div class="col-7">
                        <span>(awaiting approval)</span>
                    </div>
                    {% endif %}
                    <div class="col-3 text-center">
                        <span class="existing-rating">{{ review.rating }}</span>
                    </div>
                    <div class="col-2 text-center">
                        <span class="existing-reviewer">{{ review.reviewer.username }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--This row displays a link and a button that copies it to the clipboard-->
    <div class="row m-md-5 justify-content-around">
        <div class="col-md-auto text-center py-md-2 px-md-5 darker-background">
            <h3 id="share-loop-title">Share this loop with your friends!</h3>
            <span id="pasteable-link"></span>
            <button class="copy-icon"><i class="fa-regular fa-copy"></i></button>
        </div>
        <div class="col-md-auto text-center mt-5 mt-md-0">
            <h5 class="text-greenyellow">Like what you hear?</h5>
            <a href="{% url 'review_drumloop' loop.id user.username %}">
                <button>Rate this Loop</button>
            </a>
        </div>
    </div>
</div>

<script>
    /*
        This JavaScript snippet maps the audio file URLs stored in the database
        to the URLs on Cloudinary, which hash the filenames so that browser caches
        are invalidated where necessary. Must be inline to avail of templating.
    */
    const drumURLs = {
        "audio/kick_swooshy.wav": "{% static 'audio/kick_swooshy.wav'|escapejs %}",
        "audio/perc_wobble.wav": "{% static 'audio/perc_wobble.wav'|escapejs %}",
        "audio/snare_breathe.wav": "{% static 'audio/snare_breathe.wav'|escapejs %}",
        "audio/hats_micro.wav": "{% static 'audio/hats_micro.wav'|escapejs %}",
        "audio/kick_hard.wav": "{% static 'audio/kick_hard.wav'|escapejs %}",
        "audio/clap_liquid.wav": "{% static 'audio/clap_liquid.wav'|escapejs %}",
        "audio/clap_vinyl.wav": "{% static 'audio/clap_vinyl.wav'|escapejs %}",
        "audio/hats_massamola.wav": "{% static 'audio/hats_massamola.wav'|escapejs %}",
        "audio/hats_metal.wav": "{% static 'audio/hats_metal.wav'|escapejs %}",
        "audio/hats_zippo.wav": "{% static 'audio/hats_zippo.wav'|escapejs %}",
        "audio/hihat_808.wav": "{% static 'audio/hihat_808.wav'|escapejs %}",
        "audio/kick_borefest.wav": "{% static 'audio/kick_borefest.wav'|escapejs %}",
        "audio/kick_coffee_shop.wav": "{% static 'audio/kick_coffee_shop.wav'|escapejs %}",
        "audio/kick_juicy.wav": "{% static 'audio/kick_juicy.wav'|escapejs %}",
        "audio/kick_stomp.wav": "{% static 'audio/kick_stomp.wav'|escapejs %}",
        "audio/kick_tape.wav": "{% static 'audio/kick_tape.wav'|escapejs %}",
        "audio/kick_tight.wav": "{% static 'audio/kick_tight.wav'|escapejs %}",
        "audio/perc_808.wav": "{% static 'audio/perc_808.wav'|escapejs %}",
        "audio/perc_hollow.wav": "{% static 'audio/perc_hollow.wav'|escapejs %}",
        "audio/perc_laser.wav": "{% static 'audio/perc_laser.wav'|escapejs %}",
        "audio/perc_nasty.wav": "{% static 'audio/perc_nasty.wav'|escapejs %}",
        "audio/perc_skipper.wav": "{% static 'audio/perc_skipper.wav'|escapejs %}",
        "audio/perc_springboard.wav": "{% static 'audio/perc_springboard.wav'|escapejs %}",
        "audio/perc_tambo.wav": "{% static 'audio/perc_tambo.wav'|escapejs %}",
        "audio/perc_weirdo.wav": "{% static 'audio/perc_weirdo.wav'|escapejs %}",
        "audio/snare_electro.wav": "{% static 'audio/snare_electro.wav'|escapejs %}",
        "audio/snare_lastbar.wav": "{% static 'audio/snare_lastbar.wav'|escapejs %}",
        "audio/snare_lofi.wav": "{% static 'audio/snare_lofi.wav'|escapejs %}",
        "audio/snare_tight.wav": "{% static 'audio/snare_tight.wav'|escapejs %}",
        "audio/tom_acoustic.wav": "{% static 'audio/tom_acoustic.wav'|escapejs %}",
        "audio/tom_short.wav": "{% static 'audio/tom_short.wav'|escapejs %}",
    }

</script>

<script type="text/javascript" src="{% static 'js/LoopDetail.js' %}"></script>
<script type="text/javascript" src="{% static 'js/LoopPlayer.js' %}"></script>

{% endblock %}