{% extends "base.html" %}

{% load static %}

{% block content %}

<div>
    <p>Name : {{ loop.name }}</p>
    <p>Created on : {{ loop.created_on }}</p>
    <p>Allow copy : {{ loop.allow_copy }}</p>
    <p>Tempo : {{ loop.tempo }}</p>
</div>
<div class="container">
    <div class="track-holder text-center">
        {% for track in tracks %}
        <div class="row">
            <div class="col-md-2 offset-2">
                <div>{{ track.instrument.name }}</div>
            </div>
            <div class="col-md-8 track">
                <div id="track_{{ forloop.counter0 }}"></div>
            </div>
        </div>

        {% endfor %}
    </div>
</div>


<div>{{ yoke|json_script:"yoke-element" }}</div>

<script src="{% static 'js/track_renderer.js' %}"></script>

{% endblock %}