{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container vert-gap">
    <div class="row">
        <div class="col-md-8 offset-md-2 text-center">
            <h1 class="text-center beats-header">Drumloops</h1>
            <table class="drumloop-table">
                <thead>
                    <tr>
                        <th scope="col">Creator</th>
                        <th scope="col">Name</th>
                        <th scope="col">Tempo</th>
                        <th scope="col"># Tracks</th>
                        <th scope="col">Copy?</th>
                        <th scope="col">Rating</th>
                        <th scope="col"></th>
                    </tr>
                </thead>
                <tbody>
                    {% for loop in object_list %}
                    <tr class="drumloop-table-row">
                        <td class="drumloop-table-item">
                            {{ loop.creator }}
                        </td>
                        <td class="drumloop-table-item">
                            {{ loop.name }}
                        </td>
                        <td id="tempo" class="drumloop-table-item loop-tempo">
                            {{ loop.tempo }}
                        </td>
                        <td class="drumloop-table-item">
                            2345
                        </td>
                        <td class="drumloop-table-item">
                            {{ loop.allow_copy }}
                        </td>
                        <td id="rating-display-{{forloop.counter0}}">
                        </td>
                        <td>
                            <!-- Store the loop fields necessary for creating the DrumLoop object-->
                            <i id="loop-{{ loop.id }}-{{ loop.tempo }}" 
                               class="fa-regular fa-circle-play play-button"></i>
                        </td>
                        <td>
                            <a class="edit-link" href="{% url 'loop_editor' loop.id %}">Edit</a>
                        </td>
                    </tr>
                    <input readonly class="d-none" id="rating-{{ forloop.counter0 }}" value="{{loop.rating}}">
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- This script is placed inline as it is tightly bound to the ratings element 
     of this template, and cannot be reused elsewhere -->
<script>
    const loopCount = document.getElementsByClassName('drumloop-table-row').length;
    for (let i = 0; i < loopCount; i++) {
        let literal = `rating-${i}`;
        const rating = document.getElementById(literal).value;
        const ratingDisplay = document.getElementById(`rating-display-${i}`);
        for (let j = 1; j <= 5; j++) {
            const newElement = document.createElement("span");
            if (j <= rating) {
                newElement.innerHTML = `<i class="fa-solid fa-star rating-star"></i>`;
            } else {
                newElement.innerHTML = `<i class="fa-regular fa-star rating-star"></i>`;
            }
            ratingDisplay.appendChild(newElement);
        }
    }
</script>

<script>
    /*
    This JavaScript snippet maps the audio file URLs stored in the database
    to the URLs on Cloudinary, which hash the filenames so that browser caches
    are invalidated where necessary. Must be inline to avail of templating.
    */
    const drumURLs = {
        "audio/kick_swooshy.wav": "{% static 'audio/kick_swooshy.wav'|escapejs %}",
        "audio/perc_wobble.wav": "{% static 'audio/perc_wobble.wav'|escapejs %}",
        "audio/snare_breathe.wav": "{% static 'audio/snare_breathe.wav'|escapejs %}",
        "audio/hats_micro.wav": "{% static 'audio/hats_micro.wav'|escapejs %}",
        "audio/kick_hard.wav": "{% static 'audio/kick_hard.wav'|escapejs %}",
    }
</script>

<script src="{% static 'js/LoopPlayer.js' %}" type="text/javascript"></script>

{% endblock %}