{% extends 'base.html' %}

{% load static %}

{% block content %}

<div class="container vert-gap">
    <div class="row align-items-start">
        <div class="col-md-7">

            <!--Container for list of previous reviews-->
            <div class="container darker-background light-border p-3">
                <div class="row">
                    <div class="col-12 col-md-10 offset-md-1 text-center">
                        <h3 class="mb-3">What other people think ..</h3>
                    </div>
                </div>
                <hr>
                <div class="row align-items-center">
                    <div class="col-8 col-md-6">
                        <h4 class="comment-box">Comment</h4>
                    </div>
                    <div class="col-3 text-center d-none d-md-block">
                        <h4 class="comment-box">Stars</h4>
                    </div>
                    <div class="col-4 col-md-3 text-center">
                        <h4 class="comment-box">By</h4>
                    </div>
                </div>
                {% for review in previous_reviews %}
                <div class="row fs-3 text-wrap">
                    {% if review.approved %}
                    <div class="col-8 col-md-6">
                        <span class="existing-comment comment-box">"{{ review.comment }}"</span>
                    </div>
                    {% else %}
                    <div class="col-8 col-md-6">
                        <span class="comment-box">(awaiting approval)</span>
                    </div>
                    {% endif %}
                    <div class="col-4 col-md-3 text-center d-none d-md-block">
                        <span class="existing-rating comment-box">{{ review.rating }}</span>
                    </div>
                    <div class="col-4 col-md-3 text-center overflow-hidden">
                        <span class="existing-reviewer comment-box">{{ review.reviewer.username }}</span>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

        <!--Empty div to create space-->
        <div class="col-md-1"></div>

        <!--Review form, with rating and comment inputs-->
        <div class="col-md-4 darker-background light-border p-3 text-center">
            <form action="/save_review/" method="POST">
                {% csrf_token %}
                {{ review_form.as_p }}
                <input id="submit" type="submit" value="Submit your review">
            </form>
        </div>
    </div>
    <!--Inform user that they are editing their previous review, if one exists-->
    {% if previous_rating_exists %}
    <div class="row">
        <div class="col-12 text-center mt-5">
            <h3>
                You've already reviewed this form ... you can change it
                if you like!
            </h3>
        </div>
    </div>
    {% endif %}
</div>

{% endblock %}